* {
    font-family: Inter;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    
}

.menu {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.navigation {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 135%; 
}

.image {
    display: flex;
    width: 1400px;
    height: 552px;
    justify-content: center;
    align-items: center;
    background: #00BDC9;
    box-sizing: border-box;
    
 }

.main {
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
    
    
}

.h2 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}


span {
    color: #04959E;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.text {
    color: #161616;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    width: 856px;
    padding-top: 40px; 
}

.list-text {
    width: 856px;
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
}

.list {
    display: flex;
    padding: 24px 0px 40px;
    flex-direction: column;
    align-items: flex-start;
    list-style: outside decimal;
    padding-left: 2.5rem;
}

.button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: #04959E;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    
    
}

.footer-text {
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 0px;
}


.footer-image {
    align-self: stretch;
    background: #161616;
    height: 1px;
}